#!/bin/bash

export MYSQL_PS1='\u@\h \R:\m:\s mysql> '
export HISTSIZE=1000
export HISTFILESIZE=2000
export HISTCONTROL=ignoreboth
export EDITOR=vim
export GREP_COLOR="1;35"

# You need some random in your life
export ANSIBLE_COW_SELECTION=random

# Go home
export GOPATH=$HOME/go

# Keeps the man page on the screne
export MANPAGER="less -X";

# Define the folders `cd` will look in
export CDPATH=${CDPATH}:${GOPATH}/src/github.com:${GOPATH}/src:~/git
